*{
    margin: 0;
    padding: 0;
    line-height: ;
}
body{
    background-color: rgb(232, 220, 238);
}
.container{
   
    text-align: center;
    font-size: larger;
    margin: 3% 8% ;
}
h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 35px;
    padding: 10px;
    color: #471e88;
}
#img{
    border: 1px solid red;
    width: 300px;
    margin: 1%;
}
#summary{
    background-color: #6028b9;
    color: white;
    border-radius: 5px;
    text-align: left;
    padding: 4%;
}
span{
    color

}
#summary{
    line-height: 1.6;
}
#Button{
    border: none;
    height: 35px;
    width: 90px;
    background-color:rgb(218, 171, 84);
    border-radius: 3px;
}
mark{
    border-radius: 2px;
}
h3{
    font-size: 23px;
    font-family: 'DM Sans', sans-serif;
}
span{
    color: rgb(214, 188, 138);
}